<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextFieldAccessoryCategory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF4F73551DD52D6B002661A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF4F736E1DD52D6B002661A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF4F73791DD52D6C002661A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
